html , body {
	font-size:  100%;

}

a {
	text-decoration: none;
}
/*媒询*/
/* html{
	font-size: 10px;
	height: 100%;
	font-family: "Microsoft Yahei";
	-webkit-text-size-adjust: none;
}


@media screen and (max-width:349px) {
    html {
        font-size: 10px;
    	-webkit-text-size-adjust: none;
    }
}

@media screen and (min-width:350px) and (max-width:374px) {
    html {
        font-size: 11px;
        -webkit-text-size-adjust: none;
    }
}

@media screen and (min-width:375px) and (max-width:410px) {
    html {
        font-size: 12px;
        -webkit-text-size-adjust: none;
    }
}

@media screen and (min-width:411px){
    html {
        font-size: 13px;
        -webkit-text-size-adjust: none;
    }
} */
.clear::after { visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

.page_animate_0d5s {
	height: 100%;
	position: relative;
	transform: translate3d(0px, 0px, 0px);
	transition: all 700ms ease;
}
#slide_wrap {
	background-color: #e3e3e3;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	z-index: 999;
}

.item_next {
	position: absolute;
	margin-bottom: 4em;
	cursor: pointer;
	left: 50%;
	margin-left: -50px;
	z-index: 999;
	width: 130px;
	height: 47px;
	background: url(../img/next.png) no-repeat;
	background-size:80% auto;
	animation: Swing 1s infinite;
	-webkit-animation: Swing 1s infinite;
	-ms-animation: Swing 1s infinite;
	-moz-animation: Swing 1s infinite;
}

.item_wrap {
	height: 9999px;
	transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);

}

.slide_item {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	display: block;
}

.container {
	position: relative;
	max-width: 6.4rem;
	width: 100%;
	margin: 0 auto;
	/* overflow: hidden; */

}

/*第一页*/
#slide_item1 {
	background: url(../img/page1_bg.png) no-repeat;
	background-size: 100% 100%;
}
.img_animate {
	opacity: 0;
	transform: scale(0);
	transition: all 0.6s 0.5s;
}
.img_move {
	opacity: 1;
    transform: scale(1);
}

#slide_item1 .item_img {
	/* width: 100%; */
	width: 5.92rem;
	/* margin: 0 auto; */
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -2.96rem;

	/* background: url(../img/page1_star.png) no-repeat; */
/* 	<img src="img/page1_star.png" class="item_img" /> */
}
#slide_item1 .item1_logo {
	/* position: absolute; */
	display: block;
	padding-top: .7rem;
	left: .24rem;
	width: 5.96rem;
	margin: 0 auto;
	margin-bottom: .5rem;
}
#slide_item1 .item1_left {
	float: left;
	width: 1.5rem;
	margin-left: .4rem;
}
#slide_item1 .item1_mid {
	float: left;
	width: 2.5rem;
	margin-top: .32rem;
	margin-left: -.08rem;
}
#slide_item1 .item1_right {
	float: left;
	width: 2rem;
}
.footerimg {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 2.2rem;
	background: url(../img/page1_footer.png) no-repeat;
	background-size: cover;
}
/*第二页*/
#slide_item2 {
	background: #ff8c3e;
    background-size: 100% 100%;
}

#slide_item2  .container {
 	position: relative;
  width: 100%;
	top: 8%;
}
.item2_img {
	position: absolute;
	top: 10px;
	width: 5.62rem;
	left: 50%;
	margin-left: -2.81rem;
}

.item2_mid1 {
	width: 4.14rem;
	margin: 0 auto;
}

.item2_mid2 {
	width: 4.14rem;
	margin: 0 auto;
	margin-top: -1.5rem;
	/* width: 1.8rem; */
}
.item2_mid3 {
	width: 4.14rem;
	margin: 0 auto;
	margin-top: -0.5rem;
	/* width: 1.8rem; */
}

/*第三页*/
#slide_item3 {
    background: #ffdb5d;
    background-size: 100% 100%;
}
#slide_item3  .container {
 	position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
}
.page3_line1 {
	position: absolute;
	z-index: 55;
	left: 1.25rem;
	height: 1px;
	transform-origin: top left;
	transform: rotate(145deg);
	overflow: hidden;
}
.page3_line1_div {
	margin-left: -100%;
	width: 1.15rem;
	height: 1px;
	transform-origin: top left;
	background: #fff;
	transition: all 0.4s 0.1s;
}
.page3_line1_div_move {
	margin-left: 0 !important;
}
.page3_line {
	position: absolute;
	z-index: 55;
	/* left: 2.9rem; */
	height: 1px;
	transform-origin: top left;
	transform: rotate(145deg);
	overflow: hidden;
	right: 0rem;
}
.page3_line_div {
	margin-left: -100%;
	width: .8rem;
	height: 1px;
	transform-origin: top left;
	background: #fff;
	transition: all 0.4s 0.1s;
}
.page3_midstar {
	width: .3rem;
	height: .3rem;
	position: absolute;
	top: .48rem;
	left: .18rem;
	transition: all 0.2s 0.2s;
	opacity: 0;
}
.page3_midstar_move {
	opacity: 1 !important;
}
.page3_smallstar {
	width: .2rem;
	height: .2rem;
	position: absolute;
	top: .35rem;
	right: 1.4rem;
	/* left: 2.2rem; */
	transition: all 0.2s 0.2s;
	opacity: 0;
}

.page3_userinfo {
	position: relative;
	top: 1rem;
	margin: 0 auto;
}
.page3_cover {
	width: 5.3rem;
	top: 0rem;
	left: 50%;
	position: absolute;
	margin-left: -1.6rem;
	z-index: 100;
}
.page3_personalpic {
	width: 2.4rem;
	height: 2.4rem;
	border: 2px solid #8f7109;
	border-radius: 1.2rem;
	position: relative;
	background: #ffea9f;
	/* top: -0.5rem;
	left: 50%;
	margin-left: -6rem; */
	margin: 0 auto;
}
.page3_starlogo {
	position: absolute;
	top: 1.5rem;
	left: 0rem;
	width: 3.2rem;
	left: 50%;
	margin-left: -1.6rem;
}
.page3_username {
	position: relative;
	/* top: 12.5rem; */
	width: 3rem;
	font-size: .24rem;
	color: #021d0e;
	/* top: 1rem; */
/* 	left: 50%;
	margin-left: -7.5rem; */
	margin: .1rem auto;

	/* margin-bottom: 1rem; */
}
.page3_qcount {
	position: relative;
	width: 4.6rem;
	margin: 0 auto;
	z-index: 110;
	/* left: 50%;
	margin-left: -10rem; */
	/* margin-top: 1rem; */
}
.page3_txt1, .page3_txt2, .page3_txt3 {
	position: absolute;
	/* top: 22rem; */
	top: .2rem;
	text-align: center;
	color: #1e1801;
	font-size: .24rem;
	left: -50%;
	transform:translate(-54%,0);
	white-space:nowrap;
	opacity: 0;
	transition:	all 0.4s 0.3s;
}
.page3_txt1 span {
	font-size: .3rem;
	color: #fd583f;
}
.bottom-wrap {
	position: relative;
	width: 80%;
	margin: 0 auto;
	padding-top: .5rem;
}
.txtleft_animate {
	left: 50%;
	opacity: 1;
}
.page3_home {
	position: absolute;
	right: 0rem;
	width: .4rem;
	top: 0rem;
	opacity: 0;
	transition:	all 0.4s 0.4s;
}
.page3_home_move {
	opacity: 1;
	top: .1rem;
}
.page3_point_line_wrap {
	position: relative;
}
.page3_point, .page3_point2, .page3_point3, .page3_point4 {
	position: absolute;
	width: .08rem;
	height: .08rem;
	border-radius: 50%;
	background: #ffd43e;
	/* top: .35rem; */
	right: .5rem;
	border: .02rem solid #ae8b2e;
	opacity: 0;
	transition:	all 0.4s 0.4s;
}
.page3_point2 {
	right: 0rem;
	top: .65rem;
	left: .8rem;
	transition: all 0.4s 1.6s;
}
.page3_point3 {
	top: 1.65rem;
	transition:	all 0.4s 2.6s;
}
.page3_point4 {
	top: 2.3rem;
	left: .8rem;
	transition:	all 0.4s 3.4s;
}
.page3_point_move, .page3_point2_move, .page3_point3_move, .page3_point4_move {
	opacity: 1;
}
.page3_line2, .page3_line3, .page3_line4 {
	position: absolute;
	z-index: 55;
	/* left: 2.55rem; */
	/* top: 24.5rem; */
	/* margin-top: .5rem; */
	/* margin-right: .55rem; */
	height: 1px;
	/* transform-origin: top left; */
	transform: rotate(170deg);
	overflow: hidden;
	top: .35rem;
	right: .5rem;
}
.page3_line3 {
	transform: rotate(15deg);
	/* left: .8rem; */
	top: 1.2rem;
}
.page3_line4 {
	top: 2rem;
}
.page3_line2_div ,.page3_line4_div {
	margin-left: -100%;
	width: 3.8rem;
	height: 1px;
	background: #cdb04a;
	transition: all 0.4s 0.6s;
}
.page3_line3_div {
	margin-left: -100%;
	width: 3.8rem;
	height: 1px;
	background: #cdb04a;
	transition: all 0.4s 2s;
}
.page3_line4_div {
	top: 1.65rem;
	transition:	all 0.4s 3.0s;
}
.page3_line2_div_move, .page3_line3_div_move, .page3_line4_div_move {
	margin-left: 0px;
}

.page3_prostar {
	position: absolute;
	left: 0rem;
	/* top: 2.5rem; */
	width: .8rem;
	opacity: 0;
	transition: all 0.4s 1.6s;
	top: .36rem;
}
.page3_prostar_move {
	/* left: .53rem; */
	opacity: 1;
}
.page3_txt2 {
	top: .52rem;
	transform:translate(-50%,0);
	white-space:nowrap;
	opacity: 0;
	transition:	all 0.4s 2.0s;
}
.page3_txt2 span {
	font-size: .3rem;
	color: #fd583f;
}
.txtleft_animate {
	left: 50%;
	opacity: 1 !important;
}
.page3_fly {
	position: absolute;
	width: .5rem;
	top: 5.0rem;
	right: 0rem;
	opacity: 0;
	transition:	all 0.4s 2.6s;
}
.page3_fly_move {
	opacity: 1;
	top: 1.4rem;
}
.page3_txt3 {
	top: 1.5rem;
	transform:translate(-64%,0);
	white-space:nowrap;
	opacity: 0;
	transition:	all 0.4s 3s;
}
.page3_txt3 span {
	font-size: .3rem;
	color: #fd583f;
}
.page3_q {
	position: absolute;
	top: 2.6rem;
	left: 0rem;
	width: 2.0rem;
	opacity: 0;
	transition:	all 0.4s 3.8s;
}
.page3_stamp {
	position: absolute;
	top: 2.5rem;
	right: 0rem;
	width: 2.2rem;
	opacity: 0;
	transition:	all 0.4s 3.8s;
}
.page3_stamp_move {
	opacity: 1;
}

/*第四页*/
#slide_item4 {
	background: #8ad160;
  background-size: 100% 100%;
}
#slide_item4  .container {
 	position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.page4_people_comments_wrap {
	padding: .4rem;
	margin-top: -1rem;
	text-align: left;
}
.page4_people_comments_item {
	overflow: hidden;
}
.page4_saypic {
	width: 6.2rem;
	margin-top: .8rem;
	margin-left: -.6rem;
}

.page4_people_pic{
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	border: 2px solid #42980e;
	float: left;
}
.page4_people_name {
	margin-top: .46rem;
	margin-left: 1.2rem;
	color: #fff;
	font-size: .28rem;
}
.page4_people_say {
	clear: both;
	margin-top: .56rem;
	color: #42980e;
	font-size: .24rem;
	line-height: .48rem;
	display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.page4_people_more_com {
	background: url(../img/page4_btn.png);
	color: #092235;
	font-size: .24rem;
	text-align: center;
	width: 2.2rem;
	height: .8rem;
	line-height: .7rem;
	background-size: 100%;
	float: right;
	margin-top: -.6rem;
}

.page4_comment_cover {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	overflow: hidden;
	display: none;
}
.page4_cover_wrap {
	width: 5rem;
	height: 4.8rem;
	border: 2px solid #42980e;
	border-radius: 2px;
	text-align: center;
	background: #9add7b;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -2.4rem;
	margin-left:  -2.5rem;
}

.page4_cover_wrap .page4_people_pic {
	float: none;
	display: inline-block;
	margin-top: .5rem;
}
.page4_cover_wrap .page4_people_name {
	margin-top: 0.16rem;
	margin-left: 0px;
}
.page4_cover_wrap .page4_people_say {
	margin-top: .36rem;
	padding: 0 .3rem;
    -webkit-line-clamp: 4;
    text-align: left;
}
.page4_close_btn {
	position: absolute;
	right: 0.1rem;
	top: 0.1rem;
	width: .8rem;
}

/*第五页*/
#slide_item5 {
	background: #589eec;
  background-size: 100% 100%;
}
#slide_item5 .container {
 	position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.page5_logo_wrap {
	/* margin-top: .76rem; */
}
.page5_logo {
	width: 5.2rem;
	margin-left: 0rem;
}
.page5_logo2 {
	position: absolute;
	width: 3.6rem;
	left: 50%;
	top: .6rem;
	margin-left: -1.8rem;
}
.page5_table_wrap {
	margin-top: -.8rem;
	position: absolute;
	border-collapse: collapse;
}
.page5_table_wrap tr, td {
	border: 1px solid #86acf3;
	border-collapse: collapse;
}
.page5_table_wrap td {
	padding: .2rem;
	width: 50%;
	height: 3rem;
	vertical-align: top;
}
.page5_dollar {
	width: 1rem;
	height: 1rem;
}
.page5_cup {
	width: .8rem;
	height: 1rem;
}
.page5_moneycup {
	width: 1rem;
	height: 1rem;
}
.page5_process {
	width: 2rem;
	height: .8rem;
}
.page5_home {
	width: 1rem;
	height: .8rem;
}
.page5_title {
	color: #fcff00;
	font-size: .3rem;
	margin: .24rem 0px;
}
.page5_des {
	color: #fff;
	font-size: .22rem;
	line-height: .36rem;
	text-align: left;
}

/*第六页*/
#slide_item6 {
    background: url(../img/page1_bg.png) no-repeat;
	background-size: 100% 100%;
}
#slide_item6 .container {
 	position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.item6_img_wrap {
	/* margin-top: .2rem; */
}
.item6_img {
	width: 6rem;
	position: absolute;
	top: .4rem;
	left: 50%;
	margin-left: -3rem;
}
.item6_logo {
	width: 4.8rem;
	position: absolute;
	top: .8rem;
	left: 50%;
	margin-left: -2.4rem;
}
.item6_logo2 {
	width: 4.4rem;
	position: absolute;
	top: 3.2rem;
	left: 50%;
	margin-left: -2.2rem;
}
.item6_mid {
	position: absolute;
	top: 6.4rem;
	width: 2.4rem;
	left: 50%;
	margin-left: -1.2rem;
}

/*第七页*/
#slide_item7 {
  background: url(../img/page1_bg.png) no-repeat;
	background-size: 100% 100%;
}
#slide_item7 .container {
 	position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
}
.item7_img {
	width: 5.6rem;
	position: absolute;
	top: .4rem;
	left: 50%;
	margin-left: -2.8rem;
}
.item7_logo {
	position: absolute;
	top: 2rem;
	width: 5rem;
	left: 50%;
	margin-left: -2.5rem;
}
.item7_mid {
	position: absolute;
	top: 5.2rem;
	width: 2.4rem;
	left: 50%;
	margin-left: -1.2rem;
}
